{{> head  }}
{{> navbar  }}


<div class="row">

    <div class="col-8">
        <h1>Node js</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, laboriosam atque amet et qui ducimus quam aspernatur, dolores labore libero optio id sed, cum necessitatibus incidunt maiores dolorem! Ipsam, ad!
        </p>
    </div>

    <div class="col-4" >
        <img src="assets/img/prueba.png" class="img-thumbnail">
    </div>

</div>

{{> footer }}